%header
  %nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        %a.navbar-brand{:href => "/" } UOSSurreyFootball
      %ul.nav.navbar-nav
        %li
          = link_to t('Home'), root_path
        %li
          %a{:href => "#"} Page 1
        %li
          %a{:href => "#"} Page 2
        %li
          = link_to t('contact'), contact_path
  %h4= t('.welcome')
